<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         id="WebApp_ID" version="6.0">
    <display-name>form-submission</display-name>

<!--    This is using HttpServlet-->
    <servlet>
        <servlet-name>register-form</servlet-name>
        <servlet-class>com.servlet.RegisterForm</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>register-form</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>


<!--This is using request dispatcher part-->
    <servlet>
        <servlet-name>request-dispatcher1</servlet-name>
        <servlet-class>com.servlet.RequestDispatcherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>request-dispatcher1</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>request-dispatcher2</servlet-name>
        <servlet-class>com.servlet.RequestDispatcherServlet2</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>request-dispatcher2</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>

<!--    The first file of the welcome file list is worked.-->
    <welcome-file-list>
        <welcome-file>request-dispatcher.html</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>default.htm</welcome-file>
    </welcome-file-list>
</web-app>