<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         id="WebApp_ID" version="6.0">
    <display-name>ServletTutorial</display-name>

<!--&lt;!&ndash;    This is using HttpServlet&ndash;&gt;-->
<!--    <servlet>-->
<!--        <servlet-name>register-form</servlet-name>-->
<!--        <servlet-class>main.java.com.servlet.RegisterForm</servlet-class>-->
<!--    </servlet>-->

<!--    <servlet-mapping>-->
<!--        <servlet-name>register-form</servlet-name>-->
<!--        <url-pattern>/register</url-pattern>-->
<!--    </servlet-mapping>-->


<!--&lt;!&ndash;This is using request dispatcher part&ndash;&gt;-->
<!--    <servlet>-->
<!--        <servlet-name>request-dispatcher1</servlet-name>-->
<!--        <servlet-class>main.java.com.servlet.RequestDispatcherServlet</servlet-class>-->
<!--    </servlet>-->

<!--    <servlet-mapping>-->
<!--        <servlet-name>request-dispatcher1</servlet-name>-->
<!--        <url-pattern>/login</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>request-dispatcher2</servlet-name>-->
<!--        <servlet-class>main.java.com.servlet.RequestDispatcherServlet2</servlet-class>-->
<!--    </servlet>-->

<!--    <servlet-mapping>-->
<!--        <servlet-name>request-dispatcher2</servlet-name>-->
<!--        <url-pattern>/servlet2</url-pattern>-->
<!--    </servlet-mapping>-->

<!--&lt;!&ndash;    Login request dispatcher example&ndash;&gt;-->
<!--    <servlet>-->
<!--        <servlet-name>LoginServlet</servlet-name>-->
<!--        <servlet-class>main.java.com.requestDispatcher.LoginServlet</servlet-class>-->
<!--    </servlet>-->

<!--    <servlet-mapping>-->
<!--        <servlet-name>LoginServlet</servlet-name>-->
<!--        <url-pattern>/login</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>SuccessServlet</servlet-name>-->
<!--        <servlet-class>main.java.com.requestDispatcher.SuccessServlet</servlet-class>-->
<!--    </servlet>-->

<!--    <servlet-mapping>-->
<!--        <servlet-name>SuccessServlet</servlet-name>-->
<!--        <url-pattern>/success</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    The first file of the welcome file list is worked.-->
    <welcome-file-list>
        <welcome-file>request-dispatcher.html</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>default.htm</welcome-file>
    </welcome-file-list>
</web-app>